<form action="/names" method="POST">
<div>
    <label for="name">Player 1:</label>
    <input type="text" name="Player_1">
</div>
<div>
    <label for="name">Player 2:</label>
    <input type="text" name="Player_2">
</div>
    <input type="submit" value="Submit">
</form>

